:root {
    --variable-name: variable-value;
}
header {
    text-align: center;
}
body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.productItem {
    width: calc(100% / 3);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: white;
}
.productsContainer {
    display: flex;
    flex-direction: row;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
.SocialSquare {
    background-image: url(https://github.com/SquareTable/social-media-platform/raw/main/assets/NewLogo.png);
}
.goToGitHub {
    background-color: green;
    color: white;
    padding: 20px 30px 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24pt;
    font-family: 'Roboto', sans-serif;
}
.goToGitHub:hover {
    cursor: pointer;
    transform: scale(1.025);
}
.comingSoonButton {
    background-color: gray;
}
.comingSoonProduct {
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
#devIncDiceGenerator {
    background-image: url(FIND-DICE-IMAGE);
}
#aboutMe {
    background-color: #1fb355;
    padding: 100px 10px 100px 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
}
#aboutMeCol1 {
    color: white;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#aboutMeCol2 {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#aboutMeCol3 {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.circleImage {
    border-radius: 1000px;
    aspect-ratio: 1;
}
.parallax {
    height: 120%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parallax > p {
    color: white;
    font-size: 20pt;
    text-shadow: 0px 0px 20px black, 0 0 1em black, 0 0 0.2em black, 0 0 3em black;
}
#socialSquareMobileParallax {
    background-image: url(images/SocialSquareMobile.png);
}
#socialSquareBackendParallax {
    background-image: url(images/carbon.png);
}
#socialSquareDesktopParallax {
    background-image: url(images/SocialSquareDesktop.png);
    background-size: contain;
}
#devIncDiceGeneratorParallax {
    background-image: url(images/devIncDiceGenerator.png);
}
#devIncDiceGeneratorParallax > p {
    color: black;
    text-shadow: 0px 0px 20px white, 0 0 1em white, 0 0 0.2em white, 0 0 3em white;
}

@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    .productItem {
        width: 100%;
        margin: 5px 0px 5px 0px;
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .productItem p:first-child {
        font-size: 16pt;
    }
    .productsContainer {
        flex-direction: column;
    }
}
@media only screen and (max-width: 950px) and (min-width: 751px) {
    h3 {
        font-size: 18pt;
    }
    .productItem p:first-child {
        font-size: 14pt;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 950px) {
    p {
        font-size: 14pt;
    }
    h3 {
        font-size: 24pt;
    }
    .productItem p:first-child {
        font-size: 20pt;
    }
    #aboutMeCol2 {
        font-size: 14pt;
    }
    #aboutMeCol1 h2 {
        font-size: 18pt;
    }
    #aboutMeCol1 i {
        font-size: 18pt;
    }
}
@media only screen and (min-width: 1201px) {
    #aboutMeCol2 {
        font-size: 18pt;
    }
    #aboutMeCol1 h2 {
        font-size: 22pt;
    }
    #aboutMeCol1 i {
        font-size: 22pt;
    }
    h3 {
        font-size: 24pt;
    }
}